#!/bin/sh

trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --width 10 --transparent true --alpha 0 --tint 0x444444 --height 17 --monitor 1 &
if [ -x /usr/bin/nm-applet ] ; then
  nm-applet &
fi

if [ -x /usr/bin/volumeicon ] ; then
  volumeicon &
fi
xbindkeys &
/usr/bin/xscreensaver -no-splash &
xset m 3/2 10
